<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>frame_category_wood</string>
		<string>frame_category_glitter</string>
		<string>frame_category_pattern</string>
		<string>frame_category_heart</string>
		<string>frame_category_aqua</string>
		<string>frame_category_gradient</string>
	</array>
	<key>Frame Items</key>
	<dict>
		<key>frame_category_wood</key>
		<array>
			<string>FrameWood-0</string>
			<string>FrameWood-1</string>
			<string>FrameWood-2</string>
			<string>FrameWood-3</string>
			<string>FrameWood-4</string>
			<string>FrameWood-5</string>
			<string>FrameWood-6</string>
			<string>FrameWood-7</string>
			<string>FrameWood-8</string>
			<string>FrameWood-9</string>
			<string>FrameWood-10</string>
		</array>
		<key>frame_category_glitter</key>
		<array>
			<string>FrameGlitter-0</string>
			<string>FrameGlitter-1</string>
			<string>FrameGlitter-2</string>
			<string>FrameGlitter-3</string>
			<string>FrameGlitter-4</string>
			<string>FrameGlitter-5</string>
			<string>FrameGlitter-6</string>
			<string>FrameGlitter-7</string>
			<string>FrameGlitter-8</string>
			<string>FrameGlitter-9</string>
		</array>
		<key>frame_category_pattern</key>
		<array>
			<string>FramePattern-0</string>
			<string>FramePattern-1</string>
			<string>FramePattern-2</string>
			<string>FramePattern-3</string>
			<string>FramePattern-4</string>
			<string>FramePattern-5</string>
			<string>FramePattern-6</string>
			<string>FramePattern-7</string>
			<string>FramePattern-8</string>
		</array>
		<key>frame_category_heart</key>
		<array>
			<string>FrameHeart-0</string>
			<string>FrameHeart-1</string>
			<string>FrameHeart-2</string>
			<string>FrameHeart-3</string>
			<string>FrameHeart-4</string>
			<string>FrameHeart-5</string>
			<string>FrameHeart-6</string>
		</array>
		<key>frame_category_aqua</key>
		<array>
			<string>FrameAqua-0</string>
			<string>FrameAqua-1</string>
			<string>FrameAqua-2</string>
			<string>FrameAqua-3</string>
			<string>FrameAqua-4</string>
			<string>FrameAqua-5</string>
			<string>FrameAqua-6</string>
			<string>FrameAqua-7</string>
		</array>
		<key>frame_category_gradient</key>
		<array>
			<string>FrameGradient-0</string>
			<string>FrameGradient-1</string>
			<string>FrameGradient-2</string>
			<string>FrameGradient-3</string>
			<string>FrameGradient-4</string>
			<string>FrameGradient-5</string>
			<string>FrameGradient-6</string>
			<string>FrameGradient-7</string>
		</array>
	</dict>
</dict>
</plist>
