<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>bgColor</string>
		<string>bgGradient</string>
		<string>bgPattern</string>
		<string>bgPhoto</string>
	</array>
	<key>BGItems</key>
	<dict>
		<key>bgColor</key>
		<array>
			<string>ffffff</string>
			<string>dddddd</string>
			<string>bbbbbb</string>
			<string>999999</string>
			<string>d0d0d0</string>
			<string>aaaaaa</string>
			<string>888888</string>
			<string>666666</string>
			<string>a1a1a1</string>
			<string>777777</string>
			<string>555555</string>
			<string>333333</string>
			<string>6e6e6e</string>
			<string>444444</string>
			<string>222222</string>
			<string>000000</string>
			<string>ff0000</string>
			<string>ff0054</string>
			<string>ff00a7</string>
			<string>ff00ff</string>
			<string>ff3f00</string>
			<string>ff3f54</string>
			<string>ff3fa7</string>
			<string>ff3fff</string>
			<string>ff7f00</string>
			<string>ff7f54</string>
			<string>ff7fa7</string>
			<string>ff7fff</string>
			<string>ffbf00</string>
			<string>ffbf54</string>
			<string>ffbfa7</string>
			<string>ffbfff</string>
			<string>ffff00</string>
			<string>ffff54</string>
			<string>ffffa7</string>
			<string>ffffff</string>
			<string>ccff00</string>
			<string>ccff54</string>
			<string>ccffa7</string>
			<string>ccffff</string>
			<string>ccbf00</string>
			<string>ccbf54</string>
			<string>ccbfa7</string>
			<string>ccbfff</string>
			<string>cc7f00</string>
			<string>cc7f54</string>
			<string>cc7fa7</string>
			<string>cc7fff</string>
			<string>cc3f00</string>
			<string>cc3f54</string>
			<string>cc3fa7</string>
			<string>cc3fff</string>
			<string>cc0000</string>
			<string>cc0054</string>
			<string>cc00a7</string>
			<string>cc00ff</string>
			<string>990000</string>
			<string>990054</string>
			<string>9900a7</string>
			<string>9900ff</string>
			<string>993f00</string>
			<string>993f54</string>
			<string>993fa7</string>
			<string>993fff</string>
			<string>997f00</string>
			<string>997f54</string>
			<string>997fa7</string>
			<string>997fff</string>
			<string>99bf00</string>
			<string>99bf54</string>
			<string>99bfa7</string>
			<string>99bfff</string>
			<string>99ff00</string>
			<string>99ff54</string>
			<string>99ffa7</string>
			<string>99ffff</string>
			<string>66ff00</string>
			<string>66ff54</string>
			<string>66ffa7</string>
			<string>66ffff</string>
			<string>66bf00</string>
			<string>66bf54</string>
			<string>66bfa7</string>
			<string>66bfff</string>
			<string>667f00</string>
			<string>667f54</string>
			<string>667fa7</string>
			<string>667fff</string>
			<string>663f00</string>
			<string>663f54</string>
			<string>663fa7</string>
			<string>663fff</string>
			<string>660000</string>
			<string>660054</string>
			<string>6600a7</string>
			<string>6600ff</string>
			<string>330000</string>
			<string>330054</string>
			<string>3300a7</string>
			<string>3300ff</string>
			<string>333f00</string>
			<string>333f54</string>
			<string>333fa7</string>
			<string>333fff</string>
			<string>337f00</string>
			<string>337f54</string>
			<string>337fa7</string>
			<string>337fff</string>
			<string>33bf00</string>
			<string>33bf54</string>
			<string>33bfa7</string>
			<string>33bfff</string>
			<string>00ff00</string>
			<string>00ff54</string>
			<string>00ffa7</string>
			<string>00ffff</string>
			<string>00bf00</string>
			<string>00bf54</string>
			<string>00bfa7</string>
			<string>00bfff</string>
			<string>007f00</string>
			<string>007f54</string>
			<string>007fa7</string>
			<string>007fff</string>
			<string>003f00</string>
			<string>003f54</string>
			<string>003fa7</string>
			<string>003fff</string>
			<string>000000</string>
			<string>000054</string>
			<string>0000a7</string>
			<string>0000ff</string>
		</array>
		<key>bgGradient</key>
		<array>
			<string>GradientImage0</string>
			<string>GradientImage1</string>
			<string>GradientImage2</string>
			<string>GradientImage3</string>
			<string>GradientImage4</string>
			<string>GradientImage5</string>
			<string>GradientImage6</string>
			<string>GradientImage7</string>
			<string>GradientImage8</string>
			<string>GradientImage9</string>
			<string>GradientImage10</string>
			<string>GradientImage11</string>
			<string>GradientImage12</string>
			<string>GradientImage13</string>
			<string>GradientImage14</string>
			<string>GradientImage15</string>
			<string>GradientImage16</string>
			<string>GradientImage17</string>
			<string>GradientImage18</string>
			<string>GradientImage19</string>
			<string>GradientImage20</string>
			<string>GradientImage21</string>
		</array>
		<key>bgPattern</key>
		<array>
			<string>PatternImage0</string>
			<string>PatternImage1</string>
			<string>PatternImage2</string>
			<string>PatternImage3</string>
			<string>PatternImage4</string>
			<string>PatternImage5</string>
			<string>PatternImage6</string>
			<string>PatternImage7</string>
			<string>PatternImage8</string>
			<string>PatternImage9</string>
			<string>PatternImage10</string>
			<string>PatternImage11</string>
			<string>PatternImage12</string>
		</array>
		<key>bgPhoto</key>
		<array>
			<string>PhotoImage0</string>
			<string>PhotoImage2</string>
			<string>PhotoImage1</string>
			<string>PhotoImage3</string>
			<string>PhotoImage4</string>
			<string>PhotoImage5</string>
			<string>PhotoImage6</string>
			<string>PhotoImage7</string>
			<string>PhotoImage8</string>
		</array>
	</dict>
</dict>
</plist>
