<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>bgColor</string>
		<string>bgGradient</string>
		<string>bgPattern</string>
		<string>bgPhoto</string>
	</array>
	<key>BGItems</key>
	<dict>
		<key>bgColor</key>
		<array>
			<string>FrameWood-0</string>
			<string>FrameWood-1</string>
			<string>FrameWood-2</string>
			<string>FrameWood-3</string>
			<string>FrameWood-4</string>
			<string>FrameWood-5</string>
			<string>FrameWood-6</string>
			<string>FrameWood-7</string>
			<string>FrameWood-8</string>
			<string>FrameWood-9</string>
			<string>FrameWood-10</string>
		</array>
		<key>bgGradient</key>
		<array>
			<string>GradientImage0</string>
			<string>GradientImage1</string>
			<string>GradientImage2</string>
			<string>GradientImage3</string>
			<string>GradientImage4</string>
			<string>GradientImage5</string>
			<string>GradientImage6</string>
			<string>GradientImage7</string>
			<string>GradientImage8</string>
			<string>GradientImage9</string>
			<string>GradientImage10</string>
			<string>GradientImage11</string>
			<string>GradientImage12</string>
			<string>GradientImage13</string>
			<string>GradientImage14</string>
			<string>GradientImage15</string>
			<string>GradientImage16</string>
			<string>GradientImage17</string>
			<string>GradientImage18</string>
			<string>GradientImage19</string>
			<string>GradientImage20</string>
			<string>GradientImage21</string>
		</array>
		<key>bgPattern</key>
		<array>
			<string>PatternImage0</string>
			<string>PatternImage1</string>
			<string>PatternImage2</string>
			<string>PatternImage3</string>
			<string>PatternImage4</string>
			<string>PatternImage5</string>
			<string>PatternImage6</string>
			<string>PatternImage7</string>
			<string>PatternImage8</string>
			<string>PatternImage9</string>
			<string>PatternImage10</string>
			<string>PatternImage11</string>
			<string>PatternImage12</string>
		</array>
		<key>bgPhoto</key>
		<array>
			<string>PhotoImage0</string>
			<string>PhotoImage2</string>
			<string>PhotoImage1</string>
			<string>PhotoImage3</string>
			<string>PhotoImage4</string>
			<string>PhotoImage5</string>
			<string>PhotoImage6</string>
			<string>PhotoImage7</string>
			<string>PhotoImage8</string>
		</array>
	</dict>
</dict>
</plist>
