<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>bgColor</string>
		<string>bgGradient</string>
		<string>bgPattern</string>
		<string>bgPhoto</string>
	</array>
	<key>BGItems</key>
	<dict>
		<key>bgColor</key>
		<array>
			<string>ffffff</string>
			<string>cccccc</string>
			<string>999999</string>
			<string>666666</string>
			<string>333333</string>
			<string>000000</string>
			<string>00ffff</string>
			<string>ffcccc</string>
			<string>cc9999</string>
			<string>996666</string>
			<string>663333</string>
			<string>330000</string>
			<string>33ffff</string>
			<string>00cccc</string>
			<string>ff9999</string>
			<string>cc6666</string>
			<string>993333</string>
			<string>660000</string>
			<string>66ffff</string>
			<string>33cccc</string>
			<string>009999</string>
			<string>ff6666</string>
			<string>cc3333</string>
			<string>990000</string>
			<string>99ffff</string>
			<string>66cccc</string>
			<string>339999</string>
			<string>006666</string>
			<string>ff3333</string>
			<string>cc0000</string>
			<string>ccffff</string>
			<string>99cccc</string>
			<string>669999</string>
			<string>336666</string>
			<string>003333</string>
			<string>ff0000</string>
			<string>ff00ff</string>
			<string>ccffcc</string>
			<string>99cc99</string>
			<string>669966</string>
			<string>336633</string>
			<string>003300</string>
			<string>0000ff</string>
			<string>ffffcc</string>
			<string>cccc99</string>
			<string>999966</string>
			<string>666633</string>
			<string>333300</string>
			<string>3300ff</string>
			<string>00ffcc</string>
			<string>ffcc99</string>
			<string>cc9966</string>
			<string>996633</string>
			<string>663300</string>
			<string>6600ff</string>
			<string>33ffcc</string>
			<string>00cc99</string>
			<string>ff9966</string>
			<string>cc6633</string>
			<string>993300</string>
			<string>9900ff</string>
			<string>66ffcc</string>
			<string>33cc99</string>
			<string>009966</string>
			<string>ff6633</string>
			<string>cc3300</string>
			<string>cc00ff</string>
			<string>99ffcc</string>
			<string>66cc99</string>
			<string>339966</string>
			<string>006633</string>
			<string>ff3300</string>
			<string>cc33ff</string>
			<string>cc00cc</string>
			<string>99ff99</string>
			<string>66cc66</string>
			<string>339933</string>
			<string>006600</string>
			<string>ff33ff</string>
			<string>ff00cc</string>
			<string>ccff99</string>
			<string>99cc66</string>
			<string>669933</string>
			<string>336600</string>
			<string>0033ff</string>
			<string>0000cc</string>
			<string>ffff99</string>
			<string>cccc66</string>
			<string>999933</string>
			<string>666600</string>
			<string>3333ff</string>
			<string>3300cc</string>
			<string>00ff99</string>
			<string>ffcc66</string>
			<string>cc9933</string>
			<string>996600</string>
			<string>6633ff</string>
			<string>6600cc</string>
			<string>33ff99</string>
			<string>00cc66</string>
			<string>ff9933</string>
			<string>cc6600</string>
			<string>9933ff</string>
			<string>9900cc</string>
			<string>66ff99</string>
			<string>33cc66</string>
			<string>009933</string>
			<string>ff6600</string>
			<string>ff66ff</string>
			<string>cc33cc</string>
			<string>990099</string>
			<string>66ff66</string>
			<string>33cc33</string>
			<string>009900</string>
			<string>0066ff</string>
			<string>ff33cc</string>
			<string>cc0099</string>
			<string>99ff66</string>
			<string>66cc33</string>
			<string>339900</string>
			<string>3366ff</string>
			<string>0033cc</string>
			<string>ff0099</string>
			<string>ccff66</string>
			<string>99cc33</string>
			<string>669900</string>
			<string>6666ff</string>
			<string>3333cc</string>
			<string>000099</string>
			<string>ffff66</string>
			<string>cccc33</string>
			<string>999900</string>
			<string>9966ff</string>
			<string>6633cc</string>
			<string>330099</string>
			<string>00ff66</string>
			<string>ffcc33</string>
			<string>cc9900</string>
			<string>cc66ff</string>
			<string>9933cc</string>
			<string>660099</string>
			<string>33ff66</string>
			<string>00cc33</string>
			<string>ff9900</string>
			<string>ff99ff</string>
			<string>cc66cc</string>
			<string>993399</string>
			<string>660066</string>
			<string>33ff33</string>
			<string>00cc00</string>
			<string>0099ff</string>
			<string>ff66cc</string>
			<string>cc3399</string>
			<string>990066</string>
			<string>66ff33</string>
			<string>33cc00</string>
			<string>3399ff</string>
			<string>0066cc</string>
			<string>ff3399</string>
			<string>cc0066</string>
			<string>99ff33</string>
			<string>66cc00</string>
			<string>6699ff</string>
			<string>3366cc</string>
			<string>003399</string>
			<string>ff0066</string>
			<string>ccff33</string>
			<string>99cc00</string>
			<string>9999ff</string>
			<string>6666cc</string>
			<string>333399</string>
			<string>000066</string>
			<string>ffff33</string>
			<string>cccc00</string>
			<string>cc99ff</string>
			<string>9966cc</string>
			<string>663399</string>
			<string>330066</string>
			<string>00ff33</string>
			<string>ffcc00</string>
			<string>ffccff</string>
			<string>cc99cc</string>
			<string>996699</string>
			<string>663366</string>
			<string>330033</string>
			<string>00ff00</string>
			<string>00ccff</string>
			<string>ff99cc</string>
			<string>cc6699</string>
			<string>993366</string>
			<string>660033</string>
			<string>33ff00</string>
			<string>33ccff</string>
			<string>0099cc</string>
			<string>ff6699</string>
			<string>cc3366</string>
			<string>990033</string>
			<string>66ff00</string>
			<string>66ccff</string>
			<string>3399cc</string>
			<string>006699</string>
			<string>ff3366</string>
			<string>cc0033</string>
			<string>99ff00</string>
			<string>99ccff</string>
			<string>6699cc</string>
			<string>336699</string>
			<string>003366</string>
			<string>ff0033</string>
			<string>ccff00</string>
			<string>ccccff</string>
			<string>9999cc</string>
			<string>666699</string>
			<string>333366</string>
			<string>000033</string>
			<string>ffff00</string>
		</array>
		<key>bgGradient</key>
		<array>
			<string>GradientImage0</string>
			<string>GradientImage1</string>
			<string>GradientImage2</string>
			<string>GradientImage3</string>
			<string>GradientImage4</string>
			<string>GradientImage5</string>
			<string>GradientImage6</string>
			<string>GradientImage7</string>
			<string>GradientImage8</string>
			<string>GradientImage9</string>
			<string>GradientImage10</string>
			<string>GradientImage11</string>
			<string>GradientImage12</string>
			<string>GradientImage13</string>
			<string>GradientImage14</string>
			<string>GradientImage15</string>
			<string>GradientImage16</string>
			<string>GradientImage17</string>
			<string>GradientImage18</string>
			<string>GradientImage19</string>
			<string>GradientImage20</string>
			<string>GradientImage21</string>
		</array>
		<key>bgPattern</key>
		<array>
			<string>PatternImage0</string>
			<string>PatternImage1</string>
			<string>PatternImage2</string>
			<string>PatternImage3</string>
			<string>PatternImage4</string>
			<string>PatternImage5</string>
			<string>PatternImage6</string>
			<string>PatternImage7</string>
			<string>PatternImage8</string>
			<string>PatternImage9</string>
			<string>PatternImage10</string>
			<string>PatternImage11</string>
			<string>PatternImage12</string>
		</array>
		<key>bgPhoto</key>
		<array>
			<string>PhotoImage0</string>
			<string>PhotoImage2</string>
			<string>PhotoImage1</string>
			<string>PhotoImage3</string>
			<string>PhotoImage4</string>
			<string>PhotoImage5</string>
			<string>PhotoImage6</string>
			<string>PhotoImage7</string>
			<string>PhotoImage8</string>
		</array>
	</dict>
</dict>
</plist>
